* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
header {
     background-color: #0A2540;
}

.header-top {
     width: 80%;
     margin: auto;
     display: flex;
     justify-content: space-between;
     padding: 10px 20px;
     
}
.logo h2 {
     color: #ffffff;
     font-size: 30px;
     margin-right: 20px;
}
.logo {
     display: flex;
     align-items: center;
     justify-content: space-between;
     
}
.catalog-button {
     font-size: large;
     background-color: #2383e3;
     color: #ffffff;
     border: 1px solid #ffffff;
     padding: 10px 20px;
     border-radius: 15px;
     cursor: pointer;
     display: flex;
}
.search-bar {
     font-size: large;
     display: flex;
     align-items: center;
     flex-grow: 1;
     margin: 0  20px ;
}
.search-bar input[type="text"] {
     width: 100%;
     padding: 10px;
     border-radius: 20px;
     border: none;
     outline: none;
     font-size: 16px;
}
.search-icon {
     background: none;
     border: none;
     cursor: pointer;
     color: #333;
     font-size: 18px;
     margin-left: -30px;
}
.header-icons {
     font-size: large;
     display: flex;
     align-items: center;
}
.header-icons .top-right-icons {
     background: none;
     border: none;
     color: #ffffff;
     font-size: 18px;
     margin-left: 30px;
     display:flex;
     cursor: pointer;
}

.header-icons .top-right-icons i {
     margin-right: 5px;
}

.header-bottom {
     background-color: #ffffff;
     padding: 10px 0;
     display: flex;
     justify-content: space-around;
     font-weight: bold;
}

.header-bottom a {
     color: #0A2540;
     text-decoration: none;
     font-size: 16px;
}

.header-bottom a:hover {
     color: #1b70c6;
     text-decoration: none;
}

