* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

a {
     text-decoration: none;
     color: #000;
}

header {
     height: 100px;
     width: 100%;
}

.bd-bottom {
     border-bottom: 1px solid #ebeaef;
}
.content {
     display: flex;
     align-items: center;
     padding: 10px 0;
     justify-content: space-between;
     width: 90%;
     margin: 0 auto;
}

.content .top-left {
     display: flex;
     gap: 15px;
}

.content .top-left a {
     font-size: 0.9em;
     color: #ccc;
     font-weight: 300;
     border-right: solid 1px #ebeaef;
     padding-right: 10px;
}

.content .top-right {
     display: flex;
     gap: 20px;
}


form{
     display: flex;
     align-items: center;
}
#search-bar {
     width: 400px;
     height: 40px;
     border-radius: 30px;
     border: 2px solid transparent;
     background-image: linear-gradient(white, white),
          linear-gradient(90deg, rgba(163, 135, 219, 1) 15%, rgba(204, 177, 200, 1) 85%);
     background-origin: border-box;
     background-clip: padding-box, border-box;
}
button[type="submit"] {
     width: 40px;
     height: 40px;
     border-radius: 30px;
     border: 2px solid  rgba(204, 177, 200, 1);
     background-color: #fff;
}
button[type="submit"]:hover {
     cursor: pointer;
     transform: scale(1.1);
}
.search .content {
     padding: 15px 0;
}
button.my-account {
     background-color: #a387db;
     border: none;
     border-radius: 30px;
     padding: 10px 20px;
     font-size: 16px;
     font-weight: 500;
     color: #fff;
}
button.my-account:hover {
     cursor: pointer;
     background-color: #8566b3;
}
.search a {
     display: flex;
     align-items: center;
}

.search a h2 {
     padding-left: 15px;
}
nav{
     display: flex;
     justify-content: center;
     gap: 25px;
     padding: 15px 0;
}
nav a:hover{
     color: #a387db;
}
