<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>footer</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>

<body>
    <footer>
        <div class="footer-top">
            <div class="wrapper">
                <h3>Be the first to know everything</h3>
                <div class="subscribe-container">
                    <input type="email" name="email" placeholder="Email" id="userEmail" autocomplete="on" />
                    <button class="subscribe">Subscribe</button>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="wrapper">
                <div class="links-container">
                    <div class="links">
                        <a href="index.html">
                            <h2 class="logo-footer"
                                style="font-family: 'Lordish', sans-serif;font-weight: normal; letter-spacing: 2px;">
                                illyrian <span style="color: #35a8f1;">books</span></h2>
                        </a>
                        <a href="">About</a>
                        <a href="">Help</a>
                    </div>
                    <div class="links">
                        <a href="">New</a>
                        <a href="">BestSellers</a>
                        <a href="">Special Offers</a>
                    </div>
                    <div class="links">
                        <a href="">Top Sales</a>
                        <a href="">Gift Cards</a>
                        <a href="">Top Collection</a>
                    </div>
                    <div class="links">
                        <a href="">Shipping</a>
                        <a href="">Return Item</a>
                        <a href="">Review</a>
                    </div>
                    <div class="social-media">
                        <a href="https://www.facebook.com/">
                            <img src="../assets/svgs/facebook.svg" alt="facebook-logo"
                                style="width: 35px; height: 40px;" /></a>
                        <a href="https://www.telegram.org/">
                            <img src="../assets/svgs/telegram.svg" alt="telegram-logo"
                                style="width: 30px; height: 35px;" /></a>
                        <a href="https://www.linkedin.com/">
                            <img src="../assets/svgs/linkedin.svg" alt="linkedin-logo"
                                style="width: 30px; height: 30px;" /></a>
                        <a href="mailto:illyrian@gmail.com">
                            <img src="../assets/svgs/gmail.svg" alt="gmail-logo"
                                style="width: 30px; height:30px;" /></a>
                    </div>
                </div>
                <hr />
                <address>
                    <div class="bottom">
                        <p><strong>Copyright</strong> &copy; 2024 Illyrian Books</p>
                        <p class="contact">+38346866668</p>
                        <p class="email">illyrian@gmail.com</p>
                        <p class="location">Prishtinë, Kosovë</p>
                    </div>
                </address>
            </div>
        </div>
    </footer>
</body>

</html>