<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title></title>
</head>

<body>
     <footer>
          <div class="wrapper">
               <div class="links-container">
                    <div class="links">
                         <h2 class="logo"></h2>
                         <a href></a>
                         <a href></a>
                    </div>
                    <div class="links">
                         <a href></a>
                         <a href></a>
                         <a href></a>
                    </div>
                    <div class="links">
                         <a href></a>
                         <a href></a>
                         <a href></a>
                    </div>
                    <div class="links">
                         <a href></a>
                         <a href></a>
                         <a href></a>
                    </div>
               </div>
               <div class="social-media"></div>
               <hr />
               <div class="bottom">
                    <p><strong>Copyright</strong> &copy; 2024 Illyrian</p>
                    <p class="contact"></p>
               </div>
          </div>
     </footer>
</body>

</html>