<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title></title>
     <link rel="stylesheet" type="text/css" href="/css/footer.css" />
</head>

<body>
     <footer>
          <div class="wrapper">
               <div class="footer-top">
                    <h3>Be the first to know everything</h3>
                    <div class="subscribe-container">
                         <input type="email" name="email" placeholder="Email" id="userEmail" />
                         <button class="subscribe">Subscribe</button>
                    </div>
               </div>
               <div class="footer-bottom">
                    <div class="links-container">
                         <div class="links">
                              <h2 class="logo">Illyrian</h2>
                              <a href="">About</a>
                              <a href="">Help</a>
                         </div>
                         <div class="links">
                              <a href="">New</a>
                              <a href="">BestSellers</a>
                              <a href="">Special Offers</a>
                         </div>
                         <div class="links">
                              <a href="">Top Sales</a>
                              <a href="">Gift Cards</a>
                              <a href="">Top Collection</a>
                         </div>
                         <div class="links">
                              <a href="">Shipping</a>
                              <a href="">Return Item</a>
                              <a href="">Review</a>
                         </div>
                    </div>
                    <div class="social-media">
                         <a href="">Facebook</a>
                         <a href="">Twitter </a>
                         <a href="">Linkedin </a>
                         <a href="">Email</a>
                    </div>
                    <hr />
                    <div class="bottom">
                         <p><strong>Copyright</strong> &copy; 2024 Illyrian</p>
                         <p class="contact">+38346866668</p>
                         <p class="location">Prishtinë, Kosovë</p>
                    </div>
               </div>
          </div>
     </footer>
</body>

</html>