<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
</head>

<body>
    <header>
        <div class="top">
            <div class="container">
                <a href="../index.html" class="logo">
                    <img src="../assets/svgs/books.svg" alt="logo" />
                    <h1 class="logo">illyrian <span>books</span></h1>
                </a>
                <form id="search-form">
                    <input type="text" id="search-input" placeholder="Search" aria-label="Search for books" />
                    <button type="submit"><img src="../assets/svgs/search-btn.svg" alt="search button"></button>
                </form>
                <div class="top-menu">
                    <a href="../pages/cart.html" class="cart-list">
                        <img src="../assets/svgs/cart.svg" alt="shooping-cart">
                        <p>Cart</p>
                    </a>
                    <a href="../pages/favorites.html" class="wish-list">
                        <img src="../assets/svgs/wish-list.svg" alt="wish-list">
                        <p>Wish List</p>
                    </a>
                    <a href="" class="profile">
                        <img src="../assets/svgs/profile.svg" alt="profile-pic">
                        <p>Profile</p>
                    </a>
                </div>
            </div>
        </div>
    </header>
    <nav
        style="box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px">
        <div class="container">
            <a href="../pages/newbooks.html">New Books</a>
            <a href="../pages/bestsellers.html">Bestsellers</a>
            <a href="..//pages/special-offers.html">Special Offers</a>
            <a href="../pages/topsales.html">Top Sales</a>
            <a href="">Genre</a>
        </div>
    </nav>
    </header>
</body>
</html>