<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="UTF-8" />
     <meta name="viewport" content="width=device-width, initial-scale=1.0" />
     <title>Document</title>
     <link rel="stylesheet" type="text/css" href="/css/styles.css" />
</head>

<body>
     <header>
          <div class="top">
               <div class="container">
                    <a href="../index.html" class ="logo">
                         <img src="../assets/svgs/books.svg" alt="logo" />
                         <h1 class="logo">Illyrian</h1>
                    </a>
                    <form id="search-form">
                         <input type="text" id="search-input" placeholder="Search" aria-label="Search for books" />
                         <button type="submit"><img src="../assets/svgs/search-btn.svg" alt="search button"></button>
                    </form>
                    <div class="top-menu">
                         <a href="" class="cart-list">
                              <img src="../assets/svgs/cart.svg" alt="shooping-cart">
                              <p>Cart</p>
                         </a>
                         <a href="" class="wish-list">
                              <img src="../assets/svgs/wish-list.svg" alt="wish-list">
                              <p>Wish List</p>
                         </a>
                         <a href="" class="profile">
                              <img src="../assets/svgs/profile.svg" alt="profile-pic">
                              <p>Profile</p>
                         </a>
                    </div>
               </div>
          </div>
     </header>
     <nav>
          <div class="container">
               <a href="#new-books">New Books</a>
               <a href="#best-sellers">Bestsellers</a>
               <a href="">Special Offers</a>
               <a href="">Top Sales</a>
               <a href="">Genre</a>
          </div>
     </nav>
     </header>
</body>

</html>