<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="UTF-8" />
     <meta name="viewport" content="width=device-width, initial-scale=1.0" />
     <title>Document</title>
     <link rel="stylesheet" type="text/css" href="/css/home.css" />
</head>

<body>
     <header>
          <div class="header-top">
               <div class="wrapper">
                    <div class="logo">
                         <h2>Illyrian</h2>
                         <button class="catalog-button">
                              <i class="fas fa-bars"></i> Catalog
                         </button>
                    </div>
                    <div class="search-bar">
                         <input type="text" placeholder="Search" />
                         <button class="search-icon">
                              <i class="fas fa-search"></i>
                         </button>
                    </div>
                    <div class="header-icons">
                         <button class="top-right-icons">
                              <i class="fas fa-shopping-cart"></i> Cart
                         </button>
                         <button class="top-right-icons">
                              <i class="fas fa-heart"></i> Wishlist
                         </button>
                         <button class="top-right-icons">
                              <i class="fas fa-user"></i> Profile
                         </button>
                    </div>
               </div>
          </div>
          <nav class="header-bottom">
               <div class="wrapper">
                    <a href="#">News</a>
                    <a href="#">BestSellers</a>
                    <a href="#">Special Offers</a>
                    <a href="#">Top Sales</a>
                    <a href="#">Gift Card</a>
                    <a href="#">BookEvents</a>
                    <a href="#">Top Collection</a>
               </div>
          </nav>
     </header>
</body>

</html>